<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p><a href="{% url 'profile' %}">Switch to profile</a></p>

    <p><a href="{% url 'ticket_create' %}">Create Ticket</a></p>

    <p><a href="{% url 'tickets' %}">List Tickets</a></p>

    <p><a href="{% url 'comments' ticket.pk %}">List Comments!!</a></p>

    <p><a href="{% url 'logout' %}">Logout Here!!</a></p>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>